<h1>Job Application</h1>

<p>Please enter your email address to receive the contanct information for this offer.</p>
<% form_for(@job_offer_applicant, "/job_offers/apply/#{@job_offer.id}") do |f| %>


  <p>Name   <span class="label label-warning">*</span></p>
  <%= f.text_field :name %>
  <p>Last name   <span class="label label-warning">*</span></p>
  <%= f.text_field :last_name %>
    <p>Email   <span class="label label-warning">*</span></p>
    <%= f.text_field :applicant_email, :type =>"email"%>
  <% if @job_offer.salary_expectation %>
  	<%= f.label :salary_expectations %>
  	<%= f.text_field :salary_expectations %>
  <%end%>
  <%= f.label :link_to_cv%>
  <%= f.text_field :link_to_cv %>
  <p><span class="label label-warning">*</span>  Mandatory Fields</p>
  <hr/>
  <%= f.submit "Apply", :class => "btn btn-primary" %>
  <%= link_to 'Cancel', url_for(:job_offers, :latest), :class => "btn btn-secondary" %>
<% end %>
