<h1>Current Job Offers</h1>
<div class="search-box">
	<form method="POST" action="search" class="form-search">
		 <%= csrf_token_field %>
		<input type="text" id='search-input' name="q" />
		<input type="submit" value="search" id="search-button" class="btn btn-primary"/>
	</form>
</div>

<table class="table table-bordered">
	<tr>
		<th>Title</th>
		<th>Location</th>
		<th>Description</th>
		<th>Actions</th>
	</tr>
	<% @offers.each do | offer| %>
	  <% if offer.expired_date >= Date.today %>

	<tr>
		<td>
			<%= offer.title %>
		</td>
		<td>
			<%= offer.location %>
		</td>
		<td>
			<%= offer.description %>
		</td>

		<td>
          <% @user = session[:current_user]%>
		  <% if @user != offer.owner.id %>
              <%= link_to 'Apply', url_for(:job_offers, :apply, :offer_id => offer.id), :class => "btn btn-primary" %>
		  <% end %>
		</td>
	</tr>
		<%end%>

  <% end %>

</table>